#about{
    margin: 5em 0;
    font-family: var(--thm-font);
    width: 100%;

}
#about .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#about .about-container {
    padding: 1em 10em;
}


#about .header h1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--thm-base);
}
#about .header p {
    color: #555;
    line-height: 1.3em;
}


#about .info-container {
    flex: 1
}

#about .info-container .personal{
    display: flex;
    flex-wrap: wrap;
}
#about .info-container .personal p{
    flex: 1;
    margin: 1em 1em;
}
#about .info-container .personal p span{
    color: var(--thm-black);
    font-weight: bold;
}
#about .info-container h3{
    font-family: var(--thm-font);
    color: #000;
    font-weight: 700;
}

#about .image {
    flex:1;
}
#about .image img {
    flex:1;
    border-radius: 10px;
}


@media screen and (max-width: 767px) {
    #about .flex-container {
        flex-direction: column;
    }
    #about .maincontainer {
        padding: 1em;
        text-align: center;
    }
    #about .info-container .personal p {
        margin: 0.5em 0;
        flex-basis: 100%;

    }
    .traits li{
        margin: 1em ; 
        flex-basis: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #about .about-container {
        padding: 1em 5em;
    }
}

@media screen and (min-width: 1024px) {
    #about .about-container {
        padding: 1em 10em;
    }
}