/* Components Styles */
@import url('./header.css');
@import url('./aboutme.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./contact.css');
@import url('./footer.css');

:root {
    --thm-f6: #AD5C2B;
    --thm-white: #fff;
    --thm-color: #492C5C;
    --thm-base: #E87A09;
    --thm-line: #007BFF;
    --thm-font: 'Poppins', sans-serif;
    --thm-black: #2b1d6a;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Main Container */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 1em 1.5em 
  }


.progress-bar{
    background-color: var(--thm-base);
    border-radius: 5px;
    padding: .2em;
    text-align: center;
    color: #fff; font-size: .8rem;
    margin-bottom: 1em;
}

@media screen and (max-width: 767px) {
    body{
        font-size: 12px;
    }
}
